<!--Footer Bolt-->
<footer>

	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="col-md-3">
						<a href="http://https://www.facebook.com/3TasksADay" target="_blank"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="col-md-3">
						<a href="http://github.com/barbarafux/3TasksADay" target="_blank"><i class="fa fa-github"></i></a>
					</div>
					<div class="col-md-3">
						<a href="http://twitter.com/3TasksADay" target="_blank"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-md-3">
						<a href="mailto:3tasksaday@gmail.com"><i class="fa fa-envelope"></i></a>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /social -->

	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<%#= link_to "contact", contact_path %>
					<!-- Add Impressum -->
				</div>
				
				<div class="col-md-10">
					<p>&copy; <%= Time.now.year %> &middot; App made with <i class="fa fa-heart"></i> by 3 Tasks A Day &middot; Original Theme by <a href="http://www.blacktie.co/" target="_blank">BlackTie.co</a></p>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /footer -->
</footer>