	<div id="hello">
	    <div class="container">
	    	<div class="row">
	    		<div class="col-lg-8 col-lg-offset-2 centered">
	    			<h1>3 Tasks A Day</h1>
	    			<h2>Your new super simple ToDo-List-App</h2>
	    		</div><!-- /col-lg-8 -->
			<div class="col-lg-12 mt centered">
				<p><button type="button" class="btn btn-theme btn-lg"><%= link_to 'Sign Up', new_user_registration_path %></button></p>
 				<!-- <i class=" fa fa-arrow-circle-o-down"></i> -->
			</div>
	    	</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /hello -->
	
	<div id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 centered">
					<i class="fa fa-list"></i>
					<!-- <img src="iphone.png" alt=""> -->
				</div>
				
				<div class="col-lg-7 centered">
					<h3>WHAT IS IT ABOUT?</h3>
					<p>I am pretty sure you know the feeling when you keep adding tasks to your ToDo-List and the list is growing and growing but actually lots of tasks on your ToDo-List just stay there and aren't completed.
<br><br>
					I thought about this problem and found out that I get most done when I think of 3 different tasks I wanna achieve every day. The important thing is to chose simple tasks which actually can be finished. A good way to do that is to break bigger tasks down to smaller ones. To stay motivated it needs to be rewarding and you should achieve your tasks.
<br><br>
				</p>
				</div>
			</div>
		</div>
	</div>

	<div id="rules">	
		<div class="container">
			<div class="row centered mt grid">
				<h3>THE RULES</h3>
				<div class="mt"></div>
				<div class="col-lg-4">
					Do everything that can be done in less than 3 minutes immediately.</a>
				</div>
				<div class="col-lg-4">
					Break down tasks to small ones so you actually can achieve them.
				</div>
				<div class="col-lg-4">
					Stay true to yourself - remove a task only after it is finished.
				</div>
			</div>
			
			<div class="row centered mt grid">		
				<div class="col-lg-4">
					<i class="fa fa-clock-o"></i>			
				</div>
				<div class="col-lg-4">
					<i class="fa fa-tasks"></i>
				</div>
				<div class="col-lg-4">
					<i class="fa fa-check-square-o"></i>
				</div>
			</div>
		</div>	
<!-- 		<div class="row mt centered">
			<div class="col-lg-7 col-lg-offset-1 mt">
					<p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever.</p>
			</div>
			
			<div class="col-lg-3 mt">
				<p><button type="button" class="btn btn-theme btn-lg">Email Me!</button></p>
			</div>
		</div> -->
	</div>


	<div id="skills">
		<div class="container">
			<div class="row centered">
				<h3>PLACEHOLDER TEXT</h3>
				<div class="col-lg-3 mt">
					<!--<canvas id="javascript" height="130" width="130"></canvas>
					<p>Javascript</p>
					<br>
					<script>
						var doughnutData = [
								{
									value: 70,
									color:"#74cfae"
								},
								{
									value : 30,
									color : "#3c3c3c"
								}
							];
							var myDoughnut = new Chart(document.getElementById("javascript").getContext("2d")).Doughnut(doughnutData);
					</script>-->
				</div>
				<div class="col-lg-3 mt">
					<!--<canvas id="bootstrap" height="130" width="130"></canvas>
					<p>Bootstrap</p>
					<br>
					<script>
						var doughnutData = [
								{
									value: 90,
									color:"#74cfae"
								},
								{
									value : 10,
									color : "#3c3c3c"
								}
							];
							var myDoughnut = new Chart(document.getElementById("bootstrap").getContext("2d")).Doughnut(doughnutData);
					</script>-->
				</div>
				<div class="col-lg-3 mt">
					<!--<canvas id="wordpress" height="130" width="130"></canvas>
					<p>Wordpress</p>
					<br>
					<script>
						var doughnutData = [
								{
									value: 65,
									color:"#74cfae"
								},
								{
									value : 35,
									color : "#3c3c3c"
								}
							];
							var myDoughnut = new Chart(document.getElementById("wordpress").getContext("2d")).Doughnut(doughnutData);
					</script>-->
				</div>
				<div class="col-lg-3 mt">
					<!--<canvas id="photoshop" height="130" width="130"></canvas>
					<p>Photoshop</p>
					<br>
					<script>
						var doughnutData = [
								{
									value: 50,
									color:"#74cfae"
								},
								{
									value : 50,
									color : "#3c3c3c"
								}
							];
							var myDoughnut = new Chart(document.getElementById("photoshop").getContext("2d")).Doughnut(doughnutData);
					</script>-->
				</div>
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /skills -->
	
<!-- 	<section id="contact"></section>
	<div id="social">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<div class="col-md-3">
						<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
					<div class="col-md-3">
						<a href="#"><i class="fa fa-github"></i></a>
					</div>
					<div class="col-md-3">
						<a href="#"><i class="fa fa-twitter"></i></a>
					</div>
					<div class="col-md-3">
						<a href="#"><i class="fa fa-envelope"></i></a>
					</div>
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /social --> 